* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    background-color: #fff;
    color: #444;

    width: 100vw;
    height: 100vh;
}


.box {
    background-color: #444;
    color: #fff;
    font-size: 150%;
    margin: 5px;
    border-radius: 8px;

}


.screen {
    padding: 7px;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.screenCont {

    padding: 7px;
}


.controls {

    grid-column: 2 / 2;
    grid-row: 2 / 2;

    display: grid;
    grid-template-columns: 1fr 1fr 7fr;
    grid-template-rows: 1fr;

    resize: none;
    overflow-y: scroll;

}


.infoConsole {
    background-color: black;
    font-weight: normal;

    resize: none;
    overflow-y: scroll;

    padding: 10px;
    border-radius: 4px;
    font-size: 14px;


    grid-column: 3 / 3;
    grid-row: 1 / 1;

}

.buttons {

    grid-column: 1 / 1;
    grid-row: 1 / 1;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

}

.sendButton {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.clearButton {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
}
